<h1>Result</h1>
<p>Guess: <%= @guess %></p>
<p>Result: <%= @result[:message] %></p>
<p>Score: <%= @result[:score] %></p>
<%= link_to "Play again", root_path, class: 'bg-primary p-sq-5 text-white btn rounded' %>

<%# {:score=>1926, :message=>"well done", :time=>4456223.8703535} %>
