// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-primary{
  background-color: #0d6efd;
}

.text-white{
  color: white;
}

.p-5{
  padding: 2.5px 7.5px;
}

.fs-2{
  font-size: 2rem;
}
